<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.androiddemo">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".Criminallntent.CriminalRoom.CriminalIntentApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidDemo">
        <activity android:name=".PhotoGallery.PhotoGalleryActivity" />
        <activity
            android:name=".NerdLauncher.NerdMainActivity"
            android:exported="true" />
        <activity
            android:name="com.example.KotlinDemo.KotlinActivity"
            android:exported="true" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Demo.parcelable.ParcelableDemoActivity" />
        <activity android:name=".Demo.viewmodel.QuizActivity" />
        <activity android:name=".Demo.parcelable.ParcelabelDemoPage2" />
        <activity android:name=".Demo.parcelable.ParcelableDemoPage1" />
        <activity android:name=".Criminallntent.CrimeActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.androiddemo.Criminallntent.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>