<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jube.androiddemo">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera.any" />
    <!-- Permission declarations -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.raw" android:required="false" />


    <application
        android:name=".Criminallntent.CriminalRoom.CriminalIntentApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".Widgets.FragmentNav.FragmentNavMainActivity"
            android:exported="true" />
        <activity
            android:name=".Service.ServiceMainActivity"
            android:exported="true" />
        <activity
            android:name=".Widgets.WidgetsMainActivity"
            android:exported="true" />
        <activity
            android:name=".CameraXDemo.CameraXSimpleUseCase.CameraXSimpleUseCaseActivity"
            android:exported="true" />
        <activity
            android:name="com.jube.NdkDemo.JniHelloWorldActivity"
            android:exported="true" />
        <activity
            android:name="com.jube.NdkDemo.NDKMainActivity"
            android:exported="true" />
        <activity
            android:name=".OpenGLESDemos.CameraXAndOpenglEs.CameraXAndOpenglEsActivity"
            android:exported="true" />
        <activity
            android:name=".OpenGLESDemos.OpenglEsDrawRectActivity"
            android:exported="true" />
        <activity
            android:name=".OpenGLESDemos.OpenglEsMainActivity"
            android:exported="true" />
        <activity
            android:name=".Demo.MirrorDemoMainActivity"
            android:exported="true" />
        <activity
            android:name=".Demo.extendframelayout.ExtendFrameLayoutMainActivity"
            android:exported="true" />
        <activity
            android:name=".CameraXDemo.CameraXSavePicLocal.CameraXSavePicLocalEditPhotoActivity"
            android:exported="true" />
        <activity
            android:name=".CameraXDemo.CameraXSavePicLocal.CameraXSavePicLocalMainActivity"
            android:exported="true" />
        <activity
            android:name=".CameraXDemo.CameraXMainActivity"
            android:exported="true" />
        <activity
            android:name="io.flutter.embedding.android.FlutterActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="MissingClass" />
        <activity
            android:name=".DragAndDraw.DragAndDrawActivity"
            android:exported="true" />
        <activity android:name=".PhotoGallery.PhotoGalleryActivity" />
        <activity
            android:name=".NerdLauncher.NerdMainActivity"
            android:exported="true" />
        <activity
            android:name="com.jube.KotlinDemo.KotlinActivity"
            android:exported="true" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Demo.parcelable.ParcelableDemoActivity" />
        <activity android:name=".Demo.viewmodel.QuizActivity" />
        <activity android:name=".Demo.parcelable.ParcelabelDemoPage2" />
        <activity android:name=".Demo.parcelable.ParcelableDemoPage1" />
        <activity android:name=".Criminallntent.CrimeActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.jube.androiddemo.Criminallntent.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>

</manifest>